<div>

        <h1>Tu perfil (sin datos sensibles)</h1>
        <p>{{user.first_name}}</p>
        <p>{{user.email}}</p>
        <p>{{user.age}}</p>


                <a href="/getProducts">Productos</a>
                {{#if status}}
                        <a href="/createProducts">Crear Productos</a>
                {{else}}
                {{/if}}

        <a href="/renderCart">Carrito</a>
        <button id="buttonClose">Cerrar sesion</button>

</div>

<script src="/js/closeSession.js"></script>